body{
    text-align: center;
    padding: 50px;
}
ul{
    list-style: none;
    display: block;
    
}
.current_page_data{
    margin: 100px 0 50px;
}
.pageList li{
    display: inline-block;
    margin-left: 30px;
    padding: 10px;
    cursor: pointer;
}